<div class="container">
  <div class="row d-flex flex-column align-items-center fs-4">
    <div class="col-8 mt-5">
      <select class="form-select fs-4" aria-label="Default select example">
        <option>類別</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="3">餐飲食品</option>
        <option value="3">其他</option>
      </select>
    </div>

    <div class="col-8 mt-3">
      <div class="row">
        <div class="col-4">總金額:</div>
        <div class="col-8 text-end" style="color:orange;font-size: 3em;">25260</div>
      </div>
    </div>

    <div class="col-8">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">
              <div class="col d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-house" style="color:#8FD1DF;font-size: 2em" ;></i>
              </div>
            </th>
            <td>
              <div class="item">午餐</div>
              <div class="date">2022/3/3</div>
            </td>
            <td class="price">60</td>
            <td><a href="" style="color:black">修改</a></td>
            <td>
              <form action="">
                <button style="border: none; text-decoration-line: underline">刪除</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <button class="w-100" style="background-color: #EC673E;color: white;border-radius: 5px">新增支出</button>
    </div>    
  </div>
</div>
